<!DOCTYPE html>
<html lang="en">
  {% include 'head-tag' %}
  <body>
    {% include 'header' %}

    <div class="full-wrapper main-content">
      <div class="container">
        {% block content_wrapper %}
          {% block content %}{% endblock %}
        {% endblock %}
      </div>{# .container #}
    </div>{# .main-content #}

    {% include 'sponsors-block' %}
    {% include 'footer' %}
    {% include 'footer-scripts' %}
  </body>
</html>