<div class="full-wrapper footer-full">
  <div class="container">
    <footer>
      <p>DrupalCamp Bristol is a non-profit event brought to you by a team of volunteers.</p>
      <p>Hosting donated by <a target="_blank" href="https://pantheon.io">Pantheon</a></p>
      <p>Site built by <a target="_blank" href="http://www.microserveltd.co.uk">Microserve</a></p>
    </footer>
  </div>{# .container #}
</div>{# .footer-full #}