<div class="jumbotron">
  <div class="container">
    <div class="right-cloud animated slideInRight"></div>
    <div class="left-cloud animated slideInLeft"></div>
    <div class="balloon2 animated slideInUp"></div>
    <div class="balloon1 animated slideInUp"></div>
    <div class="circlebase start1 animated slideInLeft"></div>
    <div class="drupal-balloon animated slideInUp"></div>
    <div class="right-bush animated slideInUp"></div>
    <div class="right-bush-2 animated slideInUp"></div>
    <div class="left-bush animated slideInUp"></div>
    <div class="small-tree animated slideInUp"></div>
    <div class="bridge animated slideInUp"></div>
  </div>{# .container #}
</div>{# .jumbotron #}