<div class="full-wrapper sponsers">
    <div class="container">
      <div class="row">
        <h1>Organisational Sponsors</h1>
        <div class="col-md-4">
          <a href="http://www.microserveltd.co.uk/" target="_blank"><div class="microserve-logo"><h2>Microserve</h2></div></a>
        </div>
        <div class="col-md-4">
          <a href="http://www.siftdigital.co.uk/" target="_blank"><div class="sift-logo"><h2>Sift Digital</h2></div></a>
        </div>
        <div class="col-md-4">
          <a href="http://www.positivestudio.co.uk/" target="_blank"><div class="positive-logo"><h2>Positive</h2></div></a>
        </div>
      </div>
    </div>
</div>