{% if data.sponsors %}
  <div class="full-wrapper sponsers">
    <div class="container">
      <div class="row">
        <h1>Organisational Sponsors</h1>
        {% for sponsor in data.sponsors %}
          <div class="col-md-4">
            <a href="{{ sponsor.website }}"><img src="{{ site.url }}/img/logos/{{ sponsor.logo }}"/></a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}