---
layout: default
title: Home
use: [sponsors]
---
<div class="row">
  <div class="main-logo"><h1>DrupalCamp Bristol</h1></div>
  <h2>3rd-4th July</h2>
  <p><a href="https://twitter.com/drupalcampbris" class="twitter-link" target="_blank">Follow us on Twitter for updates</a></p>
  <p>Tickets coming soon</p>
</div>

{% include 'mailchimp-form' %}