---
layout: default
title: Home
---
<div class="full-wrapper main-content">
    <div class="container">

        <div class="row">
            <div class="main-logo"><h1>DrupalCamp Bristol</h1></div>
            <h2>3rd-4th July</h2>
            <p><a href="https://twitter.com/drupalcampbris" class="twitter-link" target="_blank">Follow us on Twitter for updates</a></p>
            <p>Tickets coming soon</p>
        </div>
        <div class="row">
            <div class="col-md-7 center">


                <div id="mc_embed_signup">
                    <form action="//drupalcampbristol.us10.list-manage.com/subscribe/post?u=8855a449c4005bd976d27e594&amp;id=1102502b3c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h2>Register your interest for DrupalCamp Bristol</h2>
                            <div class="indicates-required element-invisible"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-FNAME">First Name <span class="asterisk">*</span>
                                </label>
                                <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-LNAME">Last Name <span class="asterisk">*</span>
                                </label>
                                <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                                </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_8855a449c4005bd976d27e594_1102502b3c" tabindex="-1" value=""></div>
                            <div class="clear mc-field-group"><input type="submit" value="Register" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
<div class="full-wrapper sponsers">
    <div class="container">
        <div class="row">
            <h1>Organisational Sponsors</h1>
            <div class="col-md-4">
                <a href="http://www.microserveltd.co.uk/" target="_blank"><div class="microserve-logo"><h2>Microserve</h2></div></a>
            </div>
            <div class="col-md-4">
                <a href="http://www.siftdigital.co.uk/" target="_blank"><div class="sift-logo"><h2>Sift Digital</h2></div></a>
            </div>
            <div class="col-md-4">
                <a href="http://www.positivestudio.co.uk/" target="_blank"><div class="positive-logo"><h2>Positive</h2></div></a>
            </div>
        </div>
    </div>
</div>